<mat-grid-list cols="3" >
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <form class="forms" [formGroup]="registerForm">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="registerForm.controls['email'].touched &&registerForm.controls['email'].invalid">Email required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="registerForm.controls['password'].touched &&registerForm.controls['password'].invalid">Password required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="fName">
                    <mat-error *ngIf="registerForm.controls['fName'].touched &&registerForm.controls['fName'].invalid">First name required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lName">
                    <mat-error *ngIf="registerForm.controls['lName'].touched &&registerForm.controls['lName'].invalid">Last name required</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="registerData()">Register</button>
            </form>

        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>