<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <form class="example-form" [formGroup]="addscheduleForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Source:</mat-label>
          <input matInput placeholder="Source" formControlName="source" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Destination </mat-label>
          <input
            matInput
            placeholder="Destination"
            formControlName="destination"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Dispatched date </mat-label>
          <input
            matInput
            placeholder="Flight date"
            type="date"
            formControlName="dispatcheddate"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Arraived date </mat-label>
          <input
            matInput
            placeholder="Flight date"
            type="date"
            formControlName="arraiveddate"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Start time </mat-label>
          <input
            matInput
            type="time"
            placeholder="Start time"
            formControlName="startTime"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>End time </mat-label>
          <input
            matInput
            type="time"
            placeholder="End time"
            formControlName="endTime"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number of seats</mat-label>
          <input
            matInput
            type="number"
            placeholder="Number of seats"
            formControlName="numberOfSeats"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ticket cost </mat-label>
          <input
            matInput
            placeholder="Ticket cost"
            formControlName="ticketCost"
          />
        </mat-form-field>

        <a
          ><button
            mat-raised-button
            class="example-full-width"
            color="primary"
            (click)="addSchedule()"
          >
            Add schedule
          </button></a
        >
        <a routerLink="/admin/schedule"
          ><button mat-raised-button class="example-full-width" color="warn">
            Cancel
          </button></a
        >
      </form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
