<mat-grid-list cols="3" rowHeight="2:1">
 <mat-grid-tile></mat-grid-tile>
 <mat-grid-tile>
    <mat-card class="card"> 
        <div class="forms" [formGroup]="login">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
           
            <mat-error *ngIf="login.controls['email'].touched &&login.controls['email'].invalid">Email required</mat-error>  
        </mat-form-field> 
          
    
          <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="login.controls['password'].touched &&login.controls['password'].invalid">Password required</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="loginData()">Submit</button>
        </div>
    
    </mat-card>
 </mat-grid-tile>
 <mat-grid-tile></mat-grid-tile>
  
</mat-grid-list>

    


