<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" style="width:200%">
            <div class="example-container">
                <form [formGroup]="bookingForm">
                    <mat-form-field class="formfield" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input  formControlName="name" matInput type="text">
                        <mat-error *ngIf="bookingForm.controls['name'].touched">name is requierd</mat-error>
                    </mat-form-field>

                    <mat-form-field class="formfield" appearance="fill">
                        <mat-label>Gender</mat-label>
                        <input formControlName="gender" matInput type="text">
                        <mat-error *ngIf="bookingForm.controls['gender'].touched">gender is requierd</mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="fill">
                        <mat-label>Age Group</mat-label>
                        <input formControlName="ageGroup" matInput type="text">
                        <mat-error *ngIf="bookingForm.controls['ageGroup'].touched">ageGroup is requierd</mat-error>
                    </mat-form-field>
                    <mat-form-field  class="formfield" appearance="fill">
                        <mat-label>Meal Option</mat-label>
                        <mat-select formControlName="mealOption">
                          <mat-option value="Veg">Veg</mat-option>
                          <mat-option value="Non-Veg">Non-Veg</mat-option>
                        </mat-select>
                        <mat-error *ngIf="bookingForm.controls['mealOption'].touched">mealOption is requierd</mat-error>
                      </mat-form-field>
                    <!-- <mat-form-field class="formfield" appearance="fill">
                        <mat-label>Meal Option</mat-label>
                        <input formControlName="mealOption" matInput type="text">
                    </mat-form-field> -->
                    <button mat-raised-button color="primary" (click)="bookFlight()">Add Passenger</button>
                </form>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>