<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <form class="example-form" [formGroup]="addflightForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Airline Name</mat-label>
          <input
            matInput
            placeholder="Enter airline number"
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contact number </mat-label>
          <input
            matInput
            placeholder="Enter contact number"
            formControlName="contact"
          />
        </mat-form-field>

        <a routerLink="/admin/flight-dashboard">
          <button
            mat-raised-button
            class="example-full-width"
            color="primary"
            (click)="addAirline()"
          >
            Add airline
          </button>
        </a>
        <a routerLink="/admin/flight-dashboard">
          <button mat-raised-button class="example-full-width" color="warn">
            cancel
          </button>
        </a>
      </form></mat-card
    ></mat-grid-tile
  >
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
